run="Hackthebox_main_code/python3 main.py"
language="python3"
onBoot="echo Welcome to HackingVila!"

[packager]
afterInstall="date >> package_install_log"
ignoredPaths=[".git"]
ignoredPackages=["twitter", "discord"]
